/***************
General
***************/

/***************
Navbar
***************/

nav {
  height: 120px;
}

.nav-wrapper{
  background: #D3D3D3;
}

.felling-logo {
  margin-left: 40px;
}

.brand-logo{
  margin-left: 5px;
  color: #1E90FF !important;
  font-family: Georgia;
}

.nav-wrapper ul {
  margin-right: 150px;
  margin-top: 45px;
  font-family: Georgia;
}

.side-nav li>a, .dropdown-content li>span {
  color: #1E90FF !important;
  font-family: Georgia;
}

h2, h3, h5 {
  font-family: Georgia;
}

a:hover {
  color: #1E90FF;
}

/***************
Home
***************/
.indicators {
  top:370px;
}

.slider .indicators .indicator-item{
  opacity: 0.4;
}

.slider .indicators .indicator-item.active {
  background-color: #1E90FF;
  opacity: 20;
}

.caption .right-align h3 {
  color: #000;
}

/********************
ABOUT
*********************/

.fellingFooter {
  background-color: #D3D3D3;
  height: 200px;
  margin: 0;
}
