/***************
General
***************/

/***************
Navbar
***************/
nav {
  height: 120px;
}
.nav-wrapper{
  background: #D3D3D3;
}
.brand-logo {
  margin-left: 150px;
  color: #1E90FF !important;
  font-family: Georgia;
}

.nav-wrapper ul {
  margin-right: 150px;

}

a:hover {
  color: #1E90FF;
}

/***************
Home
***************/
.slider .indicators .indicator-item{
  opacity: 0.4;
}
.slider .indicators .indicator-item.active {
  background-color: red;
  opacity: 0.4;
}

.caption .right-align h3 {
  color: #000;
}

/********************
ABOUT
*********************/
