
/***************
General
***************/
* {
  font-family: Georgia;

}

section::before, section::after {
  pointer-events: none;
  overflow: hidden;
  display: block;
  content: " ";
  margin-top: -10px;
  height: 5px;
  visibility: hidden;
}

/***************
Navbar
***************/

nav {
  height: 120px;
}

.nav-wrapper{
  background:#D3D3D3;
}

.felling-logo {
  margin-left: 40px;
}

.brand-logo{
  margin-left: 5px;
  color: #1E90FF !important;
  font-family: Georgia;
}

.nav-wrapper ul {
  margin-right: 150px;
  margin-top: 45px;
  font-family: Georgia;
}

.side-nav li>a, .dropdown-content li>span {
  color: #1E90FF !important;

}

a:hover {
  color: #1E90FF;
}

/***************
Home
***************/

.indicators {
  top:370px;
}

.slider .indicators .indicator-item{
  opacity: 0.4;
}

.slider .indicators .indicator-item.active {
  background-color: #1E90FF;
  opacity: 20;
}

.caption .right-align h3 {
  color: #000;
}

/********************
WHAT WE DO
*********************/

.whatWeDoSection {
}


.section-heading {
  text-align: center;
  color: #1E90FF;
}

.aboutInfo {
  font-size: 1.17em ;
}

.divider {
  width: 100%;
  padding-bottom: 25px;
  background-color: white;
}

.divider:after {
  content: "";
  background: #337ab7;
  position: relative;
  height: 4px;
  width: 300px;
  display: block;
  text-align: center;
  margin: 13px auto;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  -ms-border-radius: 5em;
  -o-border-radius: 5em;
  border-radius: 5em;
}

/********************
FOOTER
*********************/

.fellingFooter {
  background-color: #D3D3D3;
  height: 200px;
  margin: 0;
}
