/***************
General
***************/

/***************
Navbar
***************/

.nav-wrapper{
  background: #000;
}
.brand-logo {
  margin-left: 150px;
}

.nav-wrapper ul {
  margin-right: 150px;
}

a:hover {
  color: red;
}

/***************
Home
***************/
.slider .indicators .indicator-item{
  opacity: 0.4;
}
.slider .indicators .indicator-item.active {
  background-color: red;
  opacity: 0.4;
}

.caption .right-align h3 {
  color: #000;
}
