
/***************
General
***************/
body {
  margin: 0;
  padding: 0;
}

* {
  font-family: Georgia;
}

section {

}


/*section::before, section::after {
  pointer-events: none;
  overflow: hidden;
  display: block;
  content: " ";
  margin-top: -10px;
  height: 5px;
  visibility: hidden;
}*/

/***************
Navbar
***************/

nav {
  height: 120px;
}

.nav-wrapper{
  background:#D3D3D3;
}

.felling-logo {
  margin-left: 40px;
}

.brand-logo{
  margin-left: 5px;
  color: #1E90FF !important;
  font-family: Georgia;
}

.nav-wrapper ul {
  margin-right: 150px;
  margin-top: 45px;
  font-family: Georgia;
}

.side-nav li>a, .dropdown-content li>span {
  color: #1E90FF !important;

}

a:hover {
  color: #1E90FF;
}

/***************
Home
***************/


.caption-top{
  padding-top: 45px;
  padding-left: 45px;
}

.caption-middle {
  padding-top: 23px;
  padding-left: 105px;
}

/********************
WHAT WE DO
*********************/

#whatWeDo {
  margin:0;
  background: url('https://rikkihuntassociates.com/wp-content/uploads/2015/01/blurred-background-office2.jpg');
  background-size: cover;
}

.SecTwoHeading {
  padding-top: 5px;
  padding-bottom: 20px;
  color: #1E90FF;
  text-align: center;
}


/*
.divider {
  width: 100%;
  padding-bottom: 65px;
}

.divider:after {
  content: "";
  background-color: #1E90FF;
  position: relative;
  height: 4px;
  width: 300px;
  display: block;
  text-align: center;
  margin: 13px auto;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  -ms-border-radius: 5em;
  -o-border-radius: 5em;
  border-radius: 5em;
} */

.boxCenter {

}

.box1 {
   border: 1px;
   border-color: none;
   background-color: none;
   color: #1E90FF;
   width: 750px;
   margin-left: auto;
   margin-right: auto;
   padding: 15px;
   margin: 15px;
   box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 19px 38px rgba(0,0,0,0.22);
}

/*****************
WHO WE ARE
*****************/

.section3Heading {
  color:#1E90FF;
  text-align: center;
  padding-top: 5px;
}





/********************
FOOTER
*********************/
